/*  your css code here. If applicable */
body{
	background-color:color_skyblue;
}
.first{
	background-color:black;
	color:white;
}
.last{
	color:red;
}
.st{
	background-color:white;
}
.second{
	background-color:stalegrey;
}
.third{
	background-color:pink;
}